<html>
    <head>
        <script type="text/javascript" src="{{ asset('bundles/sparksparktouch/js/sencha-touch-all.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sparksparktouch/js/OlympDMXSliders.js') }}"></script>
        <link href="{{ asset('bundles/sparksparktouch/css/sencha-touch.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>

    </body>
</html>
